.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}

.row{
    padding: 5px 0px;
    max-width: 600px;
    margin: 0 auto;
}

select{
    padding: 2px 2px 5px;
}

h1 {
    padding: 10px 5px;
    margin-top: 5px;
    text-align: center;
}